#about-link {
    color: lightskyblue;
    text-decoration: underline;
}

.fix {
    animation: fadeIn 1s ease both;
    overflow-y: visible;
}

@keyframes fadeIn {
    0% {
        transform: translateY(350%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
