.shopping-container {
    border: 1px solid transparent;
    padding-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;

    width: 80vw;
    height: 70vh;

    animation: fadeIn 1.5s ease both;
}

.items-wrapper {
    border: 1px solid transparent;
    display: flex;
    width: 55%;
    height: 95%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.items {
    border: 1px solid lightgray;

    height: 95%;
    width: 55%;
    box-sizing: border-box;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    padding: 5rem;
}

.items p {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 2rem;

    margin: 0;
    padding: 0;
}

.details {
    box-sizing: border-box; /* includes padding calculation INSIDE of specified height */
    border: 1px solid lightgray;
    height: 95%;
    width: 40%;
    padding: 5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .shopping-container {
        border: 1px solid red;

        width: 95vw;
        height: auto;
        padding-top: 3rem;
    }

    .items-wrapper {
        border: 1px solid green;

        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .items {
        width: 95%;
        height: 70%;
    }

    .items p {
        font-size: 1.5rem;
    }

    .details {
        /* why is there space above? */
        margin-top: -1rem;
        width: 95%;
        height: 25%;
        font-size: 1.5rem;
    }
}