#gallery-link {
    color: lightskyblue;
    text-decoration: underline;
}

.gallery-container {
    border: 2px solid transparent;
    margin: 0 auto;
    padding: 5rem 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    /* nowrap */
    flex-wrap: nowrap;
    justify-content: center;
    /* column gap */
    gap: 1rem;
}

.dream {
    display: flex;
    /* column */
    flex-direction: column;
    /* row gap */
    gap: 1rem;
}

.dream img {
    width: 45rem;
    max-width: 100%;
    /* contain */
    object-fit: contain;
    cursor: pointer;
    animation: fadeIn 1.5s ease both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100vh; */
    background-color: transparent;
    overflow-y: auto;
}

.modal-img-container {
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.close {
    border: 1px solid transparent;
    color: black;
    position: absolute;
    top: 4rem;
    right: 5rem;
    font-size: 6rem;
    font-weight: 300;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .gallery-container {
        padding: 4rem 0;
    }

    .box {
        gap: 0.6rem;
    }

    .dream {
        gap: 0.6rem;
    }

    .dream img {
        width: 12rem;
    }

    .close {
        top: 0.8rem;
        right: 1.5rem;
    }
}