#gallery-link {
    color: lightskyblue;
    text-decoration: underline;
}

.gallery-container {
    border: 2px solid transparent;
    margin: 0 auto;
    padding: 4.85rem 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.box {
    display: flex;
    /* nowrap */
    flex-wrap: nowrap;
    justify-content: center;
    /* column gap */
    gap: 1rem;
}

.dream {
    display: flex;
    /* column */
    flex-direction: column;
    /* row gap */
    gap: 1rem;
}

.dream img {
    width: 45rem;
    max-width: 100%;
    /* contain */
    object-fit: contain;
    cursor: pointer;
    transition: filter 0.5s ease;
    animation: fadeIn 1s ease both;
    position: relative;
    transform: translateY(25%);

    -webkit-user-drag: none;
    user-select: none;
}

.dream img:hover {
    filter: brightness(40%);
}

/* holds the img and hover-text */
.images-div {
    position: relative;
}

.hover-text {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 2.5rem;
    left: 2.4rem;
    color: white;
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.5s ease;
    line-height: 3rem;
    animation: translateHoverText 1s ease both;
}

.images-div:hover .hover-text {
    opacity: 1;
}

@keyframes translateHoverText {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(25%);
        /* opacity: 0; */
    }
    100% {
        transform: translateY(0);
        /* opacity: 1; */
    }
}

.modal {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100vh; */
    overflow-y: auto;
    animation: modalOpen 0.3s ease both;
}

.modal-img-container {
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    animation: modalImg 0.3s ease both;

    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
}

.close {
    border: 1px solid transparent;
    color: black;
    position: absolute;
    top: 4rem;
    right: 5rem;
    font-size: 6rem;
    font-weight: 300;
    cursor: pointer;
    z-index: 1000;
}

@keyframes modalImg {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes modalOpen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalClose {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

.modal.closing {
    animation: modalClose 0.3s ease both;
}

@media only screen and (max-width: 768px) {
    .gallery-container {
        padding: 6rem 0;
    }

    .box {
        gap: 0.6rem;
    }

    .dream {
        gap: 0.6rem;
    }

    .dream img {
        width: 18.4rem;
        transition: filter 0.25s ease;
        animation: fadeIn 1st ease both;
    }

    .hover-text {
        font-size: 1rem;
        left: 1.2rem;
        bottom: 1.3rem;
        transition: opacity 0.25s ease;
        line-height: 2rem;
    }

    .close {
        top: 0.8rem;
        right: 1.5rem;
    }
}
