html {
    /* formats rem-sizing */
    font-size: 62.5%;
    /* adds scroll bar even on pages that can't scroll */
    overflow-y: scroll;
}

body {
    /* removes default whitespace */
    margin: 0;
}

html, body {
    /* prevents horizontal scrolling */
    overflow-x: hidden;
}

.main-container {
    border: 3px groove transparent;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    overflow-y: hidden;
}

.logo a {
    text-decoration: none;
}

.logo h3 {
    color: black;
    font-size: 3.5rem;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    transition: opacity ease 250ms;
    animation: appear 1s ease-out forwards;
}

@keyframes appear {
    0% {
        transform: translateY(125%);
    }
    100% {
        transform: translateY(0);
    }
}

.logo h3:hover {
    opacity: 0.4;
}

.menu {
    border: 1px solid transparent;
    padding: 0;
    margin: 0;
}

#featured-link {
    color: lightskyblue;
    text-decoration: underline;
}

.menu .nav-links {
    display: flex;
    justify-content: center;
    /* overflow-y: hidden; */
}

.menu .nav-links a {
    /* for some reason, i needed block display in order for translate() to work */
    display: block;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    transition: color ease 250ms;
    margin: 0 4rem;
    /* transform: translateY(5rem); */
    /* animation: appear 750ms ease-out forwards; */
}

.menu .nav-links a:hover {
    color: lightskyblue;
}

.img-container {
    border: 1px solid transparent;
    padding-top: 3.5rem;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* NEEDED FOR PAUSE/PLAY POP UP */
    /* position: relative; */
}

.slider-wrapper {
    border: 1px solid transparent;
    width: 95%;
    margin: 0 auto;
    /* NEEDED FOR PAUSE/PLAY POP UP */
    /* position: relative; */
}

.slider {
    /* border: 1px solid transparent; */
    display: flex;
    height: 50rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    /* iOS smooth scrolling */
    -webkit-overflow-scrolling: touch;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    /* border: 2px solid transparent; */
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
}

/* dots container */
.slider-nav {
    border: 1px solid transparent;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding: 10px;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: darkgray;
    border: 1px solid lightgray;
    opacity: 0.5;
}

.slider-nav a:hover {
    opacity: 1;
}

.title {
    border: 1px solid transparent;
    padding: 0;
    margin-top: 2.5rem;
    margin-bottom: 3.1rem;
}

#title {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    font-style: italic;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fix {
    text-align: center;
    margin-top: 8rem;
}

.fix p {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .main-container {
        padding: 0.1rem;
    }

    .logo {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .logo h3 {
        font-size: 4rem;
    }

    .menu .nav-links a {
        margin: 0 2.5rem;
    }

    .img-container {
        padding-top: 6rem;
    }

    .slider-wrapper {
        width: 100%;
    }

    .slider {
        height: 20rem;
    }

    .slider-nav {
        margin-top: 1.5rem;
        margin-left: 5rem;
        margin-right: 5rem;
        column-gap: 1.5rem;
    }

    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
    }

    .title {
        margin-top: 5rem;
    }

    #title {
        font-style: italic;
        font-size: 2rem;
    }
}

/* What the page looks like when orientation is landscape and width is between 0px-600px. */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    .main-container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .main-container {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .main-container {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .main-container {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .main-container {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .main-container {
        width: 100%;
    }
}

/* standard: 600px, 601px, 768px, 992px, 1200px */
