#info-link {
    color: lightskyblue;
    text-decoration: underline;
}

.info-container {
    border: 1px solid transparent;

    display: flex;
    flex-direction: row;
    gap: 4rem;

    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;

    width: 130rem;
    height: 50rem;

    animation: sliderAnimation 1.5s ease both; /* shouldn't be called this */
}

.info-img {
    border: 1px solid transparent;
    width: 300rem;
    height: auto;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.info-img img {
    width: 100%;
    height: 100%;

    /* without setting it to block, there will be small gap between the bottom of div and img */
    display: block; 

    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.info-text {
    border: 1px solid lightgray;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;

    margin: 0;
    padding: 2rem;
    /* text-align: justify; */

    height: 100%;
    line-height: 3rem;

    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.awards-container {
    border: 1px solid lightgray;
    box-sizing: border-box;

    width: 130rem;
    height: 20rem;

    margin-top: 4rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;

    align-items: center;
    text-align: center;

    animation: sliderAnimation 1.5s ease both; /* shouldn't be called this */

    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.awards-container h3 {
    border: 1px solid transparent;

    color: black;

    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 300;

    padding: 0;

    margin-top: 0;
    margin-bottom: 3rem;
}

.awards-container p {
    border: 1px solid transparent;
    /* display: inline-block; */

    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;

    margin: 0;
    padding: 0;
}

/* shouldn't be called this */
@keyframes sliderAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .info-container {
        border: 1px solid transparent;

        flex-direction: column;
        align-items: center;
        gap: 3rem;

        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;

        width: 95vw;
        height: auto;

        animation: sliderAnimation 1.5s ease both; /* shouldn't be called this */
    }

    .info-img {
        border: 1px solid transparent;

        width: 85%;
        height: auto;

        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        border-radius: 0.5rem;
    }

    .info-text {
        border: 1px solid transparent;

        box-shadow: none;
        border-radius: 0;

        width: 85%;
        /* margin-top: -0.5rem; why is there even space here? */
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding: 0.5rem;
    }

    .awards-container {
        border: 1px solid transparent;

        box-shadow: none;
        border-radius: 0;

        width: 80%;
        height: auto;
        margin-bottom: 8rem;
        margin-top: 4rem;
        padding: 0;
    }

    .awards-container p {
        border: 1px solid transparent;
        /* display: inline-block; */

        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 1.6rem;

        margin: 0;
        padding: 0;
    }
}
